.container {
  width: 100%;
  max-width: 1200px; 
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.btn--primary {
  background-color: $primary-clr;
  padding: 10px 24px;
  border-radius: 4px;
}

.save__btn {
  background-color: $primary-clr;
  padding: $size-4px $size-32px;
  color: $text-white;
  border-radius: $size-4px;
  box-shadow: $btn-shadow-one;
}