.search__bar--container {
  display: flex;
  justify-content: center;
  padding-bottom: $size-96px;
  padding-top: $size-32px;

  #search__bar--form {

    #search__bar {
      width: 436px;
      height: 40px;
      padding: 14.6px 223.9px 14.6px 19.6px;
      border-radius: $size-4px;
      border: $form-border-4;
    }
    
    #search__bar:focus {
      border: 1.5px solid $primary-clr;
      outline: none; 
      color: $text-primary;
    }
  }
}
  
.section__container {
  display: flex;
  flex-direction: column;
  gap: $size-48px;
  margin-bottom: $size-140px;

  h1 {
    position: relative;
    text-align: center;
    font-size: $size-32px;
  
    &::after {
      content: "";
      display: block;
      width: $size-96px;
      height: 2.5px;
      background-color: $secondary-clr;
      margin: $size-12px auto 0 auto;
      border-radius: 2px;
    }
  }

  .section__contents {

    #card__main--container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: $size-24px; 
      row-gap: $size-48px;
    }
  }
}

#recipe__card--one, #recipe__card {
  
  h2 {
    font-size: $size-24px;
    line-height: calc($size-24px * 1.3);
    padding-bottom: $size-16px;
  }

  .category__text { 
    color: $primary-clr;
    font-weight: 600;
    font-size: $size-20px;
    margin-top: $size-4px;
  } 

  .cooking__time--container {
    display: flex;
    gap: $size-8px;
  }

  .date__time--container {
    display: flex;
    gap: $size-8px;
    align-self: flex-end;
  }

  .other__details--container {
    display: flex;
    align-self: center;
    justify-content: space-between;
  }

  .recipe__description {
    margin-bottom: $size-24px;
  }
}

.search__result--container {
  display: flex;
  flex-direction: column;
  gap: $size-20px;
  justify-content: center;
  align-items: center;
  margin-bottom: $size-56px;

  .search__result--header {
    font-size: $size-24px;
  }

  .search__result--text {
    font-size: $size-20px;
    font-weight: 600;
  }
}

.empty__searched--container {
  display: flex;
  flex-direction: column;
  gap: $size-24px;
  justify-content: center;
  align-items: center;
  margin-bottom: $size-96px;

  p {
    font-size: $size-20px;
    width: 500px;
    text-align: center;
    line-height: calc($size-20px * 1.5);
    font-weight: 500;
  }
}


